<a href="https://colab.research.google.com/github/Sandeep9802/Sandeep9802/blob/main/Unit%202%20question2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

import pandas as pd

data = {
    'Name': ['sandeep', 'pardeep', 'rahul', 'dav', None, 'Eve', 'seema', 'Eve'],
    'Age': [25, None, 23, 22, 21, 25, 24, 21],
    'Salary': [50000, 54000, 58000, None, 61000, 65000, 67000, 65000],
    'City': ['shimla', 'Los Angeles', 'delhi', 'solan', 'punjab', 'jk', None, 'Chicago']
}
df = pd.DataFrame(data)

df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].median(), inplace=True)
df['City'].fillna(df['City'].mode()[0], inplace=True)

df.drop_duplicates(inplace=True)

Q1 = df['Salary'].quantile(0.25)
Q3 = df['Salary'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df = df[(df['Salary'] >= lower_bound) & (df['Salary'] <= upper_bound)]

print(df)

      Name   Age   Salary         City
0  sandeep  25.0  50000.0       shimla
1  pardeep  23.0  54000.0  Los Angeles
2    rahul  23.0  58000.0        delhi
3      dav  22.0  61000.0        solan
4     None  21.0  61000.0       punjab
5      Eve  25.0  65000.0           jk
6    seema  24.0  67000.0      Chicago
7      Eve  21.0  65000.0      Chicago

<ipython-input-2-56a70ac2843a>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
<ipython-input-2-56a70ac2843a>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].median(), inplace=True)
<ipython-input-2-56a70ac2843a>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna(df['City'].mode()[0], inplace=True)